#searchText {
    width: 200px;
    font-size: 12px;
}

#searchBtn {
    border: none;
    font-size: 14px;
}

body {
    padding: 0 100px;
}

#pagesList {
    margin: 20px 0;
}

.pageSection {
    background: #EEE4D4;
    width: 165px;
    height: 95px;
    float: left;
    padding: 20px;
    margin: 2px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.likeBtn {
    background: #4781B4;
    color: white;
    border: none;
}

.likeBtn:hover {
    background: #035195;
}

.likedBtn {
    background: #035195;
    color: white;
    border: none;
}
